<!-- <form [formGroup]="form" (ngSubmit)="submit()">
	<input formControlName="email" type="email" placeholder="saimon@devdactic.com" />
	<button type="submit">Submit</button>
</form> -->
<header>
	<nav class="navbar navbar-expand-lg">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Anna Pylypchuk</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
				aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav ms-auto mb-2 me-4 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contacts</a>
					</li>
				</ul>
				<span class="navbar-text">
					<div class="d-flex flex-row">
						<a class="social-icons me-3 py-2" target="_blank"
							href="https://instagram.com/stylist_annapylypchuk?igshid=NTc4MTIwNjQ2YQ==">
							<i class="bi bi-instagram"></i>
						</a>
						<a class="social-icons me-3 py-2" target="_blank"
							href="https://call.whatsapp.com/voice/bUkJXVZnKh55ACopuFkrVP">
							<i class="bi bi-whatsapp"></i>
						</a>
					</div>
				</span>
			</div>
		</div>
	</nav>
</header>
<main>
	<section class="main-section">
		<div class="container landing">
			<div class="row">
				<div class="col-md-7">
					<div class="section-header">
						WORLKWIDE
					</div>
					<div class="main-header">
						Makeup Artists & Hair Stylists
					</div>
					<div class="header-description text-secondary">
						Professional team of beauty experts working with clients all over the world. Hairstyles, makeup
						for
						the
						most spectacular events.
					</div>
					
					<button type="button" class="btn btn-primary">Book now</button>
				</div>
				<div class="col-md-5">
					<img src="../../assets/img/IMG_9974.JPG" width="100%" />
				</div>
			</div>
		</div>
	</section>
	<div class="container landing">
		<!-- START THE FEATURETTES -->
		<hr class="featurette-divider">

		<section class="row featurette">
			<div class="col-md-7">
				<div class="section-header">SERVICES</div>
				<h2 class="service-header fw-normal lh-1">Bridal Makeup&Hairstyle</h2>
				<p class="lead">Your special day will be perfect with our team of beauty experts.</p>
			</div>
			<div class="col-md-5">
				<img src="../../assets/img/IMG_9974.JPG" width="100%" />
			</div>
		</section>

		<hr class="featurette-divider">

		<section>
			<div class="col-md-7">
				<h2 class="service-header fw-normal lh-1">Trial Session</h2>
				<p class="lead">A makeup(hair) trial will help you relax and make sure you look your best on your most
					memorable day.</p>
			</div>
			<div class="col-md-5">
				<div class="col-md-5">
					<img src="../../assets/img/IMG_9974.JPG" width="100%" />
				</div>
			</div>
		</section>

		<hr class="featurette-divider">

		<section>
			<div class="col-md-7">
				<h2 class="service-header fw-normal lh-1">Touch up Service</h2>
				<p class="lead">Your wedding day will be one of the most emotional days of your life, so expect
					laughter, tears, and lots and lots of kisses! Our touch-up service is the little luxury you deserve.
				</p>
				<p class="lead">Perhaps you want to change your look from daytime to evening? We have you covered! Our
					stylists will take care of it.</p>
			</div>
			<div class="col-md-5">
				<div class="col-md-5">
					<img src="../../assets/img/IMG_9974.JPG" width="100%" />
				</div>
			</div>
		</section>

		<hr class="featurette-divider">

		<section>
			<div class="col-md-7">
				<h2 class="service-header fw-normal lh-1">Photoshoot service</h2>
				<p class="lead">We are preparing the model for the shoot and providing touch up service diuring the
					session.</p>
			</div>
			<div class="col-md-5">
				<div class="col-md-5">
					<img src="../../assets/img/IMG_9974.JPG" width="100%" />
				</div>
			</div>
		</section>

		<hr class="featurette-divider">

		<section>
			<div class="col-md-7">
				<div class="section-header">CONTACTS</div>
				<a class="social-icons me-3 py-2" target="_blank"
					href="https://instagram.com/stylist_annapylypchuk?igshid=NTc4MTIwNjQ2YQ==">
					<i class="bi bi-instagram"></i>
				</a>
				<a class="social-icons me-3 py-2" target="_blank"
					href="https://call.whatsapp.com/voice/bUkJXVZnKh55ACopuFkrVP">
					<i class="bi bi-whatsapp"></i>
				</a>
			</div>
			<div class="col-md-5"></div>
		</section>
	</div>
</main>