<!-- <form [formGroup]="form" (ngSubmit)="submit()">
	<input formControlName="email" type="email" placeholder="saimon@devdactic.com" />
	<button type="submit">Submit</button>
</form> -->
<header>
	<nav class="navbar navbar-expand-lg">
		<div class="container-fluid">
		  <a class="navbar-brand" href="#">Anna Pylypchuk</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav ms-auto mb-2 me-4 mb-lg-0">
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="#">Services</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">About us</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Contacts</a>
			  </li>
			</ul>
			<span class="navbar-text">
				<div class="d-flex flex-row">
					<a class="social-icons me-3 py-2" target="_blank" href="https://instagram.com/stylist_annapylypchuk?igshid=NTc4MTIwNjQ2YQ==">
						<i class="bi bi-instagram"></i>
					</a>
					<a class="social-icons me-3 py-2" target="_blank" href="https://call.whatsapp.com/voice/bUkJXVZnKh55ACopuFkrVP">
						<i class="bi bi-whatsapp"></i>
					</a>
				</div>
			</span>
		  </div>
		</div>
	  </nav>
</header>
<section class="main-section">
	<div>
	<div class="main-header">
		Makeup Artists & Hair Stylists worldwide
	</div>
	<div class="header-description text-secondary">
		Professional team of beauty experts working with clients all over the world. Hairstyles, makeup for the most spectacular events. 
	</div>
</div>
</section>
<section class="mx-4">
	<h1>Services</h1>
<div class="text-secondary">
	Professional team of beauty experts working with clients all over the world. Hairstyles, makeup for the most spectacular events. 
</div>
</section>