:root {
  --surface: #ffffff;
  --primary: #F0324C;
  --primary-hover: #cf273e;
  --text: #271515;
  --secondary: #695155;
  --lead: #43262BCC;
  //--header:#BFA5A4;
  --header: #C7C6CE;
}

header {
  background-color: var(--header);
}

header a {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: var(--surface);
  color: var(--text);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Featurettes
------------------------- */

//Override
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--primary);
  --bs-btn-border-color: var(--primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--primary-hover);
  --bs-btn-hover-border-color: var(--primary);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--primary);
  --bs-btn-active-border-color: var(--primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: $primary;
  --bs-btn-disabled-border-color: $primary;
}

.btn-outline-primary {
  --bs-btn-color: var(--primary);
  --bs-btn-border-color: var(--primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--primary);
  --bs-btn-hover-border-color: var(--primary);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--primary);
  --bs-btn-active-border-color: var(--primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--primary);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--primary);
  --bs-gradient: none;
}

.featurette-divider {
  margin-top: 5rem;
  margin-bottom: 5rem;
  //margin-left: 50px;
  /* Space out the Bootstrap <hr> more */
}